parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: true
    reportUnmatchedIgnoredErrors: true
    scanFiles:
        - stubs/getbible-sword.php
